<div class="login-container">
  <div class="container">
    <h1 class="text-center login-title">Đăng nhập</h1>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <%= form_with(model: @user, url: session_path(:user), local: true, html: { class: "login-form" }) do |f| %>
          <div class="form-group">
            <%= f.label :email, nil, class: "form-label" %>
            <%= f.text_field :email, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password, nil, class: "form-label" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>

          <%= f.submit "Login", class: "btn btn-lg btn-submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
